section.social
  div.social
    //background-color: yellow
    display: flex
    justify-content: center
    align-items: center
  .socialwrapper
    //background-color: orange
    min-width: 15vh
    text-align: center

    @media (max-width: 391px) 
  	   min-width: 10vh
  	   p
  	     display: none
    @media (max-width: 266px) 
       min-width: 8vh
       font-size: 0.8em