#videos
 .videoscontainer
  margin: 1em 0px 1em 0px
  background-position: center
  background-size: cover
  background-color: #eee
  padding: 0.4em
  border-radius: 0.5em
  box-shadow: 1px 1px 7px 0px #aeaeae
 .videoa
  background-color: rgba(221, 221, 221, 0.67)
 .videob
  background-color: rgba(221, 221, 221, 0.67)
 .description
  color: #333
  text-align: right
  font-size: 14px
  padding-top: 0.5em
  padding-bottom: 0.3em
  h2
   font-weight: bold
   font-family: inherit
   margin: 0px
   font-size: 0.8em
  p
   font-family:inherit
   font-size: 0.8em
   margin: 0px