@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 380px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 381px) and (max-width: 574px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 575px) and (max-width: 690px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 691px) and (max-width: 899px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1101px) and (max-width: 1400px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1401px) {
  html {
    font-size: 20px;
  }
}

.body {
  margin: 0;
  padding: 0;
}
.body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.section-title-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr;
  grid-template-columns: repeat(16, [col-start] 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.section-title-left h3, .section-title-left h4, .section-title-left h5, .section-title-left h6 {
  margin-bottom: 1rem;
}
@media (max-width: 850px) {
  .section-title-left h3, .section-title-left h4, .section-title-left h5, .section-title-left h6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}
@media (min-width: 851px) {
  .section-title-left h3, .section-title-left h4, .section-title-left h5, .section-title-left h6 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3/7;
  }
}

.section-title-right {
  text-align: right;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr 20px [col-start] 20px 1fr;
  grid-template-columns: repeat(16, [col-start] 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.section-title-right h3, .section-title-right h4, .section-title-right h5, .section-title-right h6 {
  margin-bottom: 1rem;
}
@media (max-width: 850px) {
  .section-title-right h3, .section-title-right h4, .section-title-right h5, .section-title-right h6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}
@media (min-width: 851px) {
  .section-title-right h3, .section-title-right h4, .section-title-right h5, .section-title-right h6 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 7;
    grid-column: 8/15;
  }
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: bold;
}

p {
  line-height: 1.5rem;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row {
  padding-left: 1em;
  padding-right: 1em;
}
@media (min-width: 576px) and (max-width: 1199px) {
  .row {
    max-width: 100vw;
  }
}
@media (min-width: 1500px) {
  .row {
    max-width: 1500px;
  }
}
.row a, .row a:visited, .row a:hover {
  font-weight: bold;
}

.grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(16, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (max-width: 690px) {
  .grid-responsive {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 691px) {
  .grid-responsive {
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
  }
}
.grid .left-grid-text {
  text-align: left;
}
@media (max-width: 850px) {
  .grid .left-grid-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1/17;
  }
}
@media (min-width: 851px) {
  .grid .left-grid-text {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
  }
}
.grid .right-grid-text {
  text-align: right;
}
@media (max-width: 850px) {
  .grid .right-grid-text {
    text-align: left;
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1/17;
  }
}
@media (min-width: 851px) {
  .grid .right-grid-text {
    -ms-grid-column: 5;
    -ms-grid-column-span: 10;
    grid-column: 5/15;
  }
}

section {
  scroll-margin-top: 129px;
}
section .row-container {
  display: block;
}
section .left-title {
  margin-bottom: 0;
  height: 1.2rem;
}
@media (max-width: 850px) {
  section .left-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1/17;
  }
}
@media (min-width: 851px) {
  section .left-title {
    -ms-grid-column: 3;
    -ms-grid-column-span: 9;
    grid-column: 3/12;
  }
}
section .right-title {
  text-align: right;
  height: 1.2rem;
  margin-bottom: 0;
}
@media (max-width: 850px) {
  section .right-title {
    text-align: left;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    margin-top: 1rem;
  }
}
@media (min-width: 851px) {
  section .right-title {
    -ms-grid-column: 8;
    -ms-grid-column-span: 7;
    grid-column: 8/15;
  }
}

h1 {
  font-size: 1.698rem;
}

h2 {
  font-size: 1.727rem;
}

h3 {
  font-size: 1.44rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

.small {
  font-size: 0.833rem;
}

.nano {
  font-size: 0.66rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  padding: 0.5rem 1.3em;
  border-radius: 22px;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.btn:hover {
  font-weight: 400;
}
.btn-regular {
  border: 1px solid #383E74;
  color: #383E74;
}
.btn-regular:hover {
  color: #E5E5E5;
  background: #383E74;
  border: 2px solid #383E74;
}
.btn-accent {
  border: 1px solid #d6470a;
  background: #d6470a;
  color: #E5E5E5;
}
.btn-accent:hover {
  border: 1px solid #ee4f0b;
  background: #ee4f0b;
}

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  color: rgba(41, 42, 53, 0.8);
  background-color: #E5E5E5;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  max-width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header.open {
  display: block;
}
.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(41, 42, 53, 0.8)), to(transparent));
  background-image: linear-gradient(rgba(41, 42, 53, 0.8), transparent);
  z-index: 10001;
}
.header nav {
  background-color: #fff;
  color: #383E74;
  padding-top: 35px;
  padding-bottom: 35px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 10005;
}
.header nav .nav-wrapper {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1100px) {
  .header nav .nav-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1101px) and (max-width: 1400px) {
  .header nav .nav-wrapper {
    max-width: 1100px;
  }
}
@media (min-width: 1401px) {
  .header nav .nav-wrapper {
    max-width: 1200px;
  }
}
.header nav a {
  opacity: 80%;
}
.header nav a:hover {
  opacity: 100%;
}
.header__logo {
  visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.header__textlogo {
  color: #383E74;
  text-align: center;
}
.header__textlogo .name {
  font-size: 1.44rem;
}
.header__textlogo .description {
  font-size: 1rem;
  font-weight: 100;
}
@media (max-width: 819px) {
  .header__toggle {
    display: block;
  }
}
@media (min-width: 820px) {
  .header__toggle {
    display: none;
  }
}
.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background: #E5E5E5;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}
.header .sticky {
  font-size: 12px;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header .sticky .header__logo {
  visibility: visible;
  width: 8em;
}
.header .sticky .header__textlogo {
  visibility: visible;
  font-size: 1rem;
  color: #383E74;
}
.header .sticky a {
  opacity: 100%;
}
.header__menu {
  background-color: #E5E5E5;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: absolute;
  border-radius: 5px;
  top: 6.5rem;
  right: 2rem;
  left: 2rem;
  z-index: 10005;
}
.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #383E74;
  text-align: center;
}
@media (max-width: 819px) {
  .header__links {
    display: none;
  }
}
@media (min-width: 820px) {
  .header__links {
    display: inline;
  }
}
.header__links a {
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__links .slash {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  opacity: 0.5;
}

section#masthead {
  color: #E5E5E5;
  background-color: #E5E5E5;
  background: url(../img/misc/hero.jpg);
  background-size: cover;
  margin-top: 5.58rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 690px) {
  section#masthead {
    padding: 4rem 0;
  }
}
@media (min-width: 691px) {
  section#masthead {
    padding: 5.625rem 0;
  }
}
@media (max-width: 574px) {
  section#masthead img.logo {
    width: 200px;
    padding-bottom: 3rem;
  }
}
@media (min-width: 575px) and (max-width: 690px) {
  section#masthead img.logo {
    width: 230px;
    padding-bottom: 3rem;
  }
}
@media (min-width: 691px) and (max-width: 899px) {
  section#masthead img.logo {
    width: 245px;
    padding-bottom: 3rem;
  }
}
@media (min-width: 900px) {
  section#masthead img.logo {
    width: 280px;
  }
}
section#masthead h2.sm {
  font-size: 1.44rem;
  margin-bottom: 0.5rem;
  opacity: 0.82;
}
section#masthead h3.lg {
  font-size: 1.698rem;
  margin-bottom: 1.5rem;
  opacity: 0.82;
}

section#bio {
  padding: 110px 20px;
  color: rgba(41, 42, 53, 0.8);
  background: #E5E5E5;
}
@media (max-width: 850px) {
  section#bio .text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 15;
    grid-column: 1/16;
  }
}
@media (min-width: 851px) {
  section#bio .text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
}

section#videos {
  padding: 50px 20px;
  color: rgba(41, 42, 53, 0.8);
  background: #fff;
}
section#videos .slider-mz {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 5px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (max-width: 850px) {
  section#videos .slider-mz .video {
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1/17;
  }
}
@media (min-width: 851px) {
  section#videos .slider-mz .video {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3/8;
  }
}
@media (max-width: 850px) {
  section#videos .slider-mz .text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1/17;
    padding-top: 1rem;
  }
}
@media (min-width: 851px) {
  section#videos .slider-mz .text {
    -ms-grid-column: 8;
    -ms-grid-column-span: 8;
    grid-column: 8/16;
    padding-left: 2rem;
  }
}
section#videos .slide {
  width: 100%;
}
section#videos .slide .row {
  padding-left: 0;
  padding-right: 0;
}

section#proyectos {
  padding: 110px 20px;
  color: rgba(41, 42, 53, 0.8);
  background: #E5E5E5;
}
section#proyectos .project {
  color: #383E74;
  padding-bottom: 0;
  margin: 1rem 0 0 0;
}

section#clases {
  padding: 110px 20px;
  color: rgba(41, 42, 53, 0.8);
  background: #fff;
}

section#contact {
  padding: 110px 20px;
  background: #E5E5E5;
  color: rgba(41, 42, 53, 0.8);
}
section#contact .social-icons {
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (max-width: 850px) {
  section#contact .social-icons {
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1/17;
  }
}
@media (min-width: 851px) {
  section#contact .social-icons {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
  }
}
section#contact .social-icons .icon {
  padding: 0 0.5rem;
}
section#contact .social-icons .icon:nth-of-type(1) {
  padding-left: 0;
}

section.footer {
  font-size: 0.7rem;
  margin: 0;
  padding: 10px;
  background: rgba(85, 88, 111, 0.8);
  color: white;
}
section.footer p {
  text-align: center;
  font-size: 0.7rem;
}

.img-and-description .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 690px) {
  .img-and-description .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
@media (min-width: 691px) {
  .img-and-description .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 380px) {
  .img-and-description div.img img {
    max-width: 93%;
    margin-bottom: 1rem;
  }
}
@media (min-width: 381px) and (max-width: 690px) {
  .img-and-description div.img img {
    max-width: 93%;
    margin-bottom: 1rem;
  }
}
@media (min-width: 691px) and (max-width: 796px) {
  .img-and-description div.img img {
    max-width: 15rem;
    margin-right: 1.5rem;
    -webkit-transform: translateY(0.25rem);
            transform: translateY(0.25rem);
  }
}
@media (min-width: 797px) {
  .img-and-description div.img img {
    max-width: 18rem;
    margin-right: 1.5rem;
    -webkit-transform: translateY(0.25rem);
            transform: translateY(0.25rem);
  }
}
@media (min-width: 1000px) {
  .img-and-description div.img img {
    max-width: 23rem;
  }
}
@media (min-width: 1200px) {
  .img-and-description div.img img {
    max-width: 27rem;
  }
}
.img-and-description .text {
  width: 100%;
}
@media (min-width: 691px) {
  .img-and-description .text {
    max-width: 23rem;
  }
}