body,
html {
  width: 100%;
  height: 100%; }
  @media (max-width: 480px) {
    body,
    html {
      font-size: 15px; } }
  @media (min-width: 481px) and (max-width: 767px) {
    body,
    html {
      font-size: 15px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body,
    html {
      font-size: 16px; } }
  @media (min-width: 992px) {
    body,
    html {
      font-size: 17px; } }

body {
  font-family: 'Helvetica Neue', Arial, sans-serif; }

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #d13e3e; }

hr.light {
  border-color: white; }

a {
  color: #d13e3e;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  a:focus, a:hover {
    color: #d13e3e; }

a.softlink {
  font-weight: bold;
  color: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px; }

.bg-primary {
  background-color: #d13e3e !important; }

.bg-gray1 {
  color: white;
  background-color: #4a6163 !important; }
  .bg-gray1 a {
    color: white !important; }

.bg-white {
  background-color: #fff !important; }

.bg-theme-red {
  background-color: #d13e3e; }

.bg-theme-orange {
  background-color: #f9a66c; }

.bg-theme-yellow {
  background-color: #ffc94b; }

.bg-theme-gray1 {
  color: white;
  background-color: #4a6163 !important; }
  .bg-theme-gray1 a {
    color: white !important; }

.bg-theme-gray2 {
  color: #4a6163;
  background-color: #f9faf4 !important; }

.bg-theme-red-light {
  background-color: #e48c8c; }

.bg-theme-orange-light {
  background-color: #fddec9; }

.bg-theme-yellow-light {
  background-color: #ffe6ac; }

.bg-theme-gray1-light {
  background-color: #769698; }

.bg-theme-gray2-light {
  background-color: white; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 120px 0;
  border-bottom: 1px #f9faf4 solid; }

body.sub #main {
  padding-top: 80px;
  padding-bottom: 10px; }

body.sub #faq, body.sub #descrip {
  padding: 50px 0px;
  text-align: center; }
  body.sub #faq h4, body.sub #faq p, body.sub #descrip h4, body.sub #descrip p {
    font-size: 0.9em;
    text-align: left; }
  body.sub #faq h4, body.sub #descrip h4 {
    font-weight: bold; }

body.sub #contact {
  padding: 10px 0; }

body.sub header.main a {
  color: white !important; }

section.bg-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9faf4), to(#fddec9)) !important;
    background-image-background-image: -webkit-linear-gradient(top, #f9faf4 0, #fddec9 100%) !important;
    background-image-background-image: -o-linear-gradient(top, #f9faf4 0, #fddec9 100%) !important;
    background-image-background-image: linear-gradient(to bottom, #f9faf4 0, #fddec9 100%) !important;
    background-image-background-image: linear-gradient(to bottom, #f9faf4 0, #fddec9 100%) !important;
      background-image-background-image-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$theme-gray2 ', endColorstr='$theme-orange-light', GradientType=0) !important; }

section.bg-gradient-gray {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#FFF)) !important;
    background-image-background-image: -webkit-linear-gradient(top, #eee 0, #FFF 100%) !important;
    background-image-background-image: -o-linear-gradient(top, #eee 0, #FFF 100%) !important;
    background-image-background-image: linear-gradient(to bottom, #eee 0, #FFF 100%) !important;
    background-image-background-image: linear-gradient(to bottom, #eee 0, #FFF 100%) !important;
      background-image-background-image-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee ', endColorstr='#FFF', GradientType=0) !important; }

section.bg-gradient-gray-left {
  background-image: -webkit-gradient(linear, left top, right top, from(#eee), to(#FFF)) !important;
    background-image-background-image: -webkit-linear-gradient(left, #eee 0, #FFF 100%) !important;
    background-image-background-image: -o-linear-gradient(left, #eee 0, #FFF 100%) !important;
    background-image-background-image: linear-gradient(to right, #eee 0, #FFF 100%) !important;
    background-image-background-image: linear-gradient(to right, #eee 0, #FFF 100%) !important;
      background-image-background-image-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee ', endColorstr='#FFF', GradientType=0) !important; }

section.bg-gradient-gray-right {
  background-image: -webkit-gradient(linear, right top, left top, from(#eee), to(#FFF)) !important;
    background-image-background-image: -webkit-linear-gradient(right, #eee 0, #FFF 100%) !important;
    background-image-background-image: -o-linear-gradient(right, #eee 0, #FFF 100%) !important;
    background-image-background-image: linear-gradient(to left, #eee 0, #FFF 100%) !important;
    background-image-background-image: linear-gradient(to left, #eee 0, #FFF 100%) !important;
      background-image-background-image-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee ', endColorstr='#FFF', GradientType=0) !important; }

section.bg-gradient-red {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af2323), to(#d04040)) !important;
    background-image-background-image: -webkit-linear-gradient(top, #af2323 0, #FFF 100%) !important;
    background-image-background-image: -o-linear-gradient(top, #af2323 0, #d04040 100%) !important;
    background-image-background-image: linear-gradient(to bottom, #af2323 0, #d04040 100%) !important;
    background-image-background-image: linear-gradient(to bottom, #af2323 0, #d04040 100%) !important;
      background-image-background-image-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#af2323 ', endColorstr='#d04040', GradientType=0) !important; }
  section.bg-gradient-red a {
    color: white !important; }
  section.bg-gradient-red strong {
    color: white; }

section.bg-gradient-left {
  background-image: -webkit-gradient(linear, left top, right top, from(#f5c04a42), to(#FFF)) !important;
    background-image-background-image: -webkit-linear-gradient(left, #f5c04a42 0, #FFF 100%) !important;
    background-image-background-image: -o-linear-gradient(left, #f5c04a42 0, #FFF 100%) !important;
    background-image-background-image: linear-gradient(to right, #f5c04a42 0, #FFF 100%) !important;
    background-image-background-image: linear-gradient(to right, #f5c04a42 0, #FFF 100%) !important;
      background-image-background-image-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5c04a42 ', endColorstr='#FFF', GradientType=0) !important; }

section.bg-gradient-right {
  background-image: -webkit-gradient(linear, right top, left top, from(#f5c04a42), to(#FFF)) !important;
    background-image-background-image: -webkit-linear-gradient(right, #f5c04a42 0, #FFF 100%) !important;
    background-image-background-image: -o-linear-gradient(right, #f5c04a42 0, #FFF 100%) !important;
    background-image-background-image: linear-gradient(to left, #f5c04a42 0, #FFF 100%) !important;
    background-image-background-image: linear-gradient(to left, #f5c04a42 0, #FFF 100%) !important;
      background-image-background-image-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5c04a42 ', endColorstr='#FFF', GradientType=0) !important; }

section.darkbg {
  background-image: url(../img/darkbg.jpg);
  background-size: cover; }

section.bg-solid {
  background-color: #f5c04a42; }

section.bg-primary a {
  color: white !important; }

section.bg-primary strong {
  color: white; }

.section-heading {
  margin-top: 0; }

::-moz-selection {
  color: white;
  background: #222222;
  text-shadow: none; }

::selection {
  color: white;
  background: #222222;
  text-shadow: none; }

img::-moz-selection {
  color: white;
  background: transparent; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  -webkit-tap-highlight-color: #222222; }

/* temp, organizar luego en include*/
#contact .social {
  margin-top: 1em; }

#contact .row i.fa {
  margin-bottom: 0.15em; }

#contact .col-sm-3 {
  width: 93px; }

div.clasescta p {
  margin-bottom: 0.5em !important; }

div.clasescta h2 {
  font-size: 1.5em !important; }

/* Headings */
@media (max-width: 480px) {
  .row h2,
  .container h2 {
    font-size: 1.5rem; }
  .row h3,
  .container h3 {
    font-size: 1.2em; } }

@media (min-width: 481px) and (max-width: 767px) {
  .row h2,
  .container h2 {
    font-size: 1.5rem; }
  .row h3,
  .container h3 {
    font-size: 1.2em; } }

@media (min-width: 768px) and (max-width: 991px) {
  .row h2,
  .container h2 {
    font-size: 1.7rem; }
  .row h3,
  .container h3 {
    font-size: 1.2em; } }

@media (min-width: 992px) {
  .row h2,
  .container h2 {
    font-size: 2rem; }
  .row h3,
  .container h3 {
    font-size: 1.2em; } }

.test {
  color: #f9faf4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  .test .circle {
    width: 5em;
    height: 5em;
    border-radius: 50%; }
  .test .primary {
    background-color: #d13e3e; }
  .test .bg-theme-red {
    background-color: #d13e3e; }
  .test .bg-theme-orange {
    background-color: #f9a66c; }
  .test .bg-theme-yellow {
    background-color: #ffc94b; }
  .test .bg-theme-gray1 {
    background-color: #4a6163; }
  .test .bg-theme-gray2 {
    background-color: #f9faf4; }
  .test .bg-theme-red-light {
    background-color: #e48c8c; }
  .test .bg-theme-orange-light {
    background-color: #fddec9; }
  .test .bg-theme-yellow-light {
    background-color: #ffe6ac; }
  .test .bg-theme-gray1-light {
    background-color: #769698; }
  .test .bg-theme-gray2-light {
    background-color: white; }

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #d13e3e;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #d13e3e; }
  #mainNav .navbar-toggle {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
      color: #d13e3e; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: #d13e3e !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: rgba(255, 255, 255, 0.3);
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0); }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: white; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: white; }
      #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.05);
        background-color: white; }
        #mainNav.navbar-shrink .navbar-brand {
          font-size: 16px;
          color: #d13e3e; }
          #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
            color: #d13e3e; }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #222222; }
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #d13e3e; } }

header.masthead {
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  background: #fad2d3;
  background: -webkit-linear-gradient(305deg, #fdf7f7 0%, #fff2d5 36%, #fef0e7 60%, #edf1f2 90%);
  background: -o-linear-gradient(305deg, #fdf7f7 0%, #fff2d5 36%, #fef0e7 60%, #edf1f2 90%);
  background: linear-gradient(145deg, #fdf7f7 0%, #fff2d5 36%, #fef0e7 60%, #edf1f2 90%);
  -webkit-animation: filter-animation 1s infinite;
  animation: filter-animation 20s infinite; }

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg); }
  50% {
    -webkit-filter: hue-rotate(15deg); }
  100% {
    -webkit-filter: hue-rotate(0deg); } }

@keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg); }
  50% {
    -webkit-filter: hue-rotate(15deg);
    filter: hue-rotate(15deg); }
  100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg); } }
  header.masthead .header-content {
    position: relative;
    width: 100%;
    padding: 150px 15px 100px;
    text-align: center; }
    header.masthead .header-content .header-content-inner h1 {
      font-size: 3rem !important;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0; }
    header.masthead .header-content .header-content-inner h2 {
      font-size: 1.5rem; }
    header.masthead .header-content .header-content-inner hr {
      margin: 30px auto; }
    header.masthead .header-content .header-content-inner p.description {
      color: #d13e3e !important;
      font-weight: 300;
      margin-top: 1em;
      color: rgba(255, 255, 255, 0.7); }
    header.masthead .header-content .header-content-inner .bg-text {
      background-color: rgba(0, 0, 0, 0.57);
      padding: 0 5px 0 5px; }
  @media (min-width: 768px) {
    header.masthead {
      height: 100%;
      min-height: 600px; }
      header.masthead .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        header.masthead .header-content .header-content-inner {
          max-width: 1000px;
          margin-right: auto;
          margin-left: auto; }
          header.masthead .header-content .header-content-inner h1 {
            font-size: 50px; }
          header.masthead .header-content .header-content-inner p {
            font-size: 18px;
            max-width: 80%;
            margin-right: auto;
            margin-left: auto; } }
  @media (max-width: 330px) {
    header.masthead .header-content .header-content-inner img {
      width: 250px; } }
  @media (min-width: 331px) and (max-width: 480px) {
    header.masthead .header-content .header-content-inner img {
      width: 280px; } }
  @media (min-width: 481px) and (max-width: 767px) {
    header.masthead .header-content .header-content-inner img {
      width: 320px !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    header.masthead .header-content .header-content-inner img {
      width: 400px; } }
  @media (min-width: 992px) {
    header.masthead .header-content .header-content-inner img {
      width: 500px; } }

@media (max-width: 767px) {
  header.masthead {
    min-height: 92vh; }
    header.masthead .header-content {
      margin-top: 50px;
      min-height: 80vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.call-to-action {
  padding: 50px 0; }
  .call-to-action h2 {
    margin: 0 auto 20px; }

.text-primary {
  color: #d13e3e !important; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-default {
  color: #222222;
  border-color: white;
  background-color: white; }
  .btn-default.focus, .btn-default:focus {
    color: #222222;
    border-color: #bfbfbf;
    background-color: #e6e6e6; }
  .btn-default:hover {
    color: #222222;
    border-color: #e0e0e0;
    background-color: #e6e6e6; }
  .btn-default.active, .btn-default:active,
  .open > .btn-default.dropdown-toggle {
    color: #222222;
    border-color: #e0e0e0;
    background-color: #e6e6e6; }
    .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover,
    .open > .btn-default.dropdown-toggle.focus,
    .open > .btn-default.dropdown-toggle:focus,
    .open > .btn-default.dropdown-toggle:hover {
      color: #222222;
      border-color: #bfbfbf;
      background-color: #d4d4d4; }
  .btn-default.active, .btn-default:active,
  .open > .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover,
  fieldset[disabled] .btn-default.focus,
  fieldset[disabled] .btn-default:focus,
  fieldset[disabled] .btn-default:hover {
    border-color: white;
    background-color: white; }
  .btn-default .badge {
    color: white;
    background-color: #222222; }

.btn-primary {
  color: white;
  border-color: #d13e3e;
  background-color: #d13e3e; }
  .btn-primary.focus, .btn-primary:focus {
    color: white;
    border-color: #741c1c;
    background-color: #b22a2a; }
  .btn-primary:hover {
    color: white;
    border-color: #a92828;
    background-color: #b22a2a; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #a92828;
    background-color: #b22a2a; }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
    .open > .btn-primary.dropdown-toggle.focus,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle:hover {
      color: white;
      border-color: #741c1c;
      background-color: #952323; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary.focus,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary:hover {
    border-color: #d13e3e;
    background-color: #d13e3e; }
  .btn-primary .badge {
    color: #d13e3e;
    background-color: white; }

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.btn-xl {
  padding: 15px 30px; }

body.error404 #main {
  padding-top: 20vh;
  padding-bottom: 13vh; }

body.error404 #links {
  padding: 50px 0px;
  text-align: center; }
  body.error404 #links h4, body.error404 #links p {
    font-size: 0.9em;
    text-align: left; }
  body.error404 #links h4 {
    font-weight: bold; }

body.error404 #contact {
  padding: 10px 0; }

section#contact {
  padding: 10px 0px; }

section.social div.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

section.social .socialwrapper {
  min-width: 6em;
  text-align: center; }
  section.social .socialwrapper a:hover {
    text-decoration: none; }
  @media (max-width: 391px) {
    section.social .socialwrapper {
      min-width: 4em; }
      section.social .socialwrapper p {
        display: none; } }
  @media (max-width: 266px) {
    section.social .socialwrapper {
      min-width: 4em;
      font-size: 0.8em; } }

footer {
  font-size: 0.8rem; }
  footer h3.phonenumber {
    font-size: 2em; }
