section.link-list
    h4
        color: $theme-primary
        margin-top: 1rem
    .item-title
        color: $theme-dark
    a, a:visited, a:hover
        font-weight: normal
    i.fa
        color: #c62828
    
    // usar nth para corregir margins en títulos